.root {
  width: 400px;
  padding: 50px;
  border: none;
  margin: 50px auto;
}
.root {
  @media screen and (max-width: 800px) {
    width: 18rem !important;
  }
}

.field {
  margin-bottom: 20px !important;
  & :where(:global(.MuiOutlinedInput-notchedOutline)) {
    border-color: #ffffff9f !important;
  }
  & :where(:global(.MuiInputLabel-root)) {
    color: #ffffff !important;
  }
  & :where(:global(.MuiOutlinedInput-root)) {
    color: #ffffff !important;
  }
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.first_btn {
  color: #fff;
  border-radius: 15px;
  border: 2px solid;
  border: none;
  padding: 0.5rem 3rem;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #cf088c;
  &:hover {
    background-color: #830559;
    color: #b3b3b3;
  }
}
