input:-internal-autofill-selected {
  background-color: #cf088c !important;
}

.title {
  input {
    font-size: 42px;
    font-weight: 900;
    color: #fff;
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.image {
  width: 100%;
  border-radius: 10px;
}

.tags {
  margin: 15px 0;
  input {
    font-size: 18px;
    font-weight: 900;
    color: #fff;
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.editor {
  margin: 30px -30px;
  // CodeMirror-vscrollbar
  & :where(:global(.CodeMirror)) {
    background-color: rgb(40, 48, 71);
  }
  & :global {
    button {
      color: #fff !important;
      &:hover {
        background-color: #cf088c;
      }
    }

    .cm-s-easymde {
      color: #ffffff;
      border: 0;
      font-size: 22px;
      min-height: 250px;
      height: 250px;
    }
    .editor-toolbar {
      border: 0;
      background-color: rgb(40, 48, 71);
      i.separator {
        border: 1px solid white;
        border-right: none;
      }
    }
  }
}

.buttons {
  display: flex;

  button {
    margin-right: 15px;
  }
}
.CodeMirror {
  background: black !important;
}
.first_btn {
  color: #fff;
  border-radius: 18px;
  border: 2px solid;
  border: none;
  padding: 0.8rem 1.3rem;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #cf088c;
  &:hover {
    background-color: #830559;
    color: #b3b3b3;
  }
}
.second_btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  background: none;
  padding: 0.8rem 1.3rem;
  &:hover {
    color: #b3b3b3;
    border-color: #b3b3b3;
  }
}
.del_btn {
  margin: 0 0rem 0.5rem 1rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  background: none;
  padding: 0.8rem 1.3rem;
  &:hover {
    color: #b3b3b3;
    border-color: #b3b3b3;
  }
}
